<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orderbook Viewer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .fade-enter-active, .fade-leave-active {
            transition: opacity 0.3s;
        }
        .fade-enter, .fade-leave-to {
            opacity: 0;
        }

        body {
            background-color: #f8fafc !important;
        }
        table {
            border-radius: 0.5rem;
            overflow: hidden;
        }
        table tr {
            background-color: #f8f9fa;
        }
        table tr:nth-child(odd):not(.bg-green-100):not(.bg-red-100) {
            background-color: #ffffff;
        }
        table tr:hover {
            background-color: #e2e8f0;
        }
        .right-align {
            text-align: right;
        }
        .control-btn {
            transition: all 0.2s ease;
        }
        .control-btn:hover {
            transform: translateY(-1px);
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        }
        .control-btn:active {
            transform: translateY(0);
            box-shadow: none;
        }
    </style>
</head>
<body class="bg-gray-50">
<div id="app" class="container mx-auto p-8">
    <div class="bg-white shadow-xl rounded-xl p-8">
        <div class="flex justify-between items-center mb-8">
            <h1 class="text-3xl font-bold text-gray-800">Order Book History Viewer</h1>
            <div class="flex space-x-4">
                <input type="date" v-model="selectedDate" @change="fetchMarkets"
                       class="form-control border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                <select v-model="selectedMarket" @change="selectMarket"
                        class="form-select border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 min-w-[200px]">
                    <option v-for="market in markets" :value="market">{{ market }}</option>
                </select>
            </div>
        </div>

        <div class="flex space-x-8">
            <div class="w-1/3">
                <h2 class="text-xl font-semibold text-gray-700 mb-6">Controls</h2>
                <div class="grid grid-cols-2 gap-4">
                    <div class="col-span-2 flex space-x-2">
                        <button @click="skipTo" class="control-btn bg-blue-500 text-white p-3 rounded-lg">
                            Go to time...
                        </button>
                        <input type="time" v-model="selectedTime" step="1"
                               class="flex-1 border border-gray-300 rounded-lg p-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    <button @click="stepForward" class="control-btn bg-blue-500 text-white p-3 rounded-lg col-span-2">
                        ⏩ Step Forward
                    </button>
                    <button @click="skipBackward" class="control-btn bg-blue-500 text-white p-3 rounded-lg">
                        ⏪ Rewind {{ replayStepSize }} Seconds
                    </button>
                    <button @click="skipForward" class="control-btn bg-blue-600 text-white p-3 rounded-lg">
                        ⏭️ Forward {{ replayStepSize }} Seconds
                    </button>
                    <button @click="reset" class="control-btn bg-purple-500 text-white p-3 rounded-lg col-span-2">
                        🔄 Reset
                    </button>
                    <button @click="startReplay" class="control-btn bg-green-500 text-white p-3 rounded-lg">
                        ▶️ Start Replay
                    </button>
                    <button @click="stopReplay" class="control-btn bg-red-500 text-white p-3 rounded-lg">
                        ⏹️ Stop Replay
                    </button>
                </div>
                <div class="mt-4 flex space-x-2">
                    <div class="flex flex-col space-y-0">
                        <label for="range1" class="block mb-2 text-sm">Replay stepsize</label>
                        <div class="flex space-x-4">
                            <input type="range" id="range1" class="block mb-2" v-model="replayStepSize" min="0.1" max="60" step="0.1"/>
                            <span class="block mb-2">{{ replayStepSize }} seconds</span>
                        </div>
                    </div>
                </div>

                <div class="mt-4 flex space-x-2">
                    <div class="flex flex-col space-y-0">
                        <label for="range2" class="block mb-2 text-sm">Replay speed</label>
                        <div class="flex space-x-4">
                            <input type="range" id="range2" class="block mb-2" v-model="replaySpeed" min="0.1" max="10" step="0.1"/>
                            <span class="block mb-2">{{ replaySpeed }} seconds</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-2/3">
                <h2 class="text-xl font-semibold text-gray-700 mb-6">
                    {{ orderbookLabel }}
                </h2>
                <div class="grid grid-cols-2 gap-8">
                    <div>
                        <h3 class="text-lg font-semibold text-red-600 mb-4">Asks</h3>
                        <table class="w-full border-collapse text-sm font-mono shadow-sm">
                            <thead class="bg-gray-100">
                            <tr>
                                <th class="p-2 text-left">Price</th>
                                <th class="p-2 text-right">Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(ask, index) in orderBook.asks.slice().reverse()"
                                :key="`ask-${index}`"
                                :class="getAskClass(ask, index)">
                                <td class="p-2 font-bold">{{ ask[0] }}</td>
                                <td class="p-2 font-normal right-align">{{ ask[1] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <h3 class="text-lg font-semibold text-green-600 mb-4">Bids</h3>
                        <table class="w-full border-collapse text-sm font-mono shadow-sm">
                            <thead class="bg-gray-100">
                            <tr>
                                <th class="p-2 text-left">Price</th>
                                <th class="p-2 text-right">Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(bid, index) in orderBook.bids"
                                :key="`bid-${index}`"
                                :class="getBidClass(bid, index)">
                                <td class="p-2 font-bold">{{ bid[0] }}</td>
                                <td class="p-2 font-normal right-align">{{ bid[1] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="src/frontend/app.js" defer></script>
</body>
</html>
